body{
	margin: 0;     font-family: 'Commissioner', sans-serif;
}
header{
	background: #7f56f5;
	text-align: center;
	padding-bottom: 100px;
	padding-top: 100px;
}
 header h1{
	margin: 0;
	color: #fff;
	-: 20px;
	margin-bottom: 20;
	margin-bottom: 2;
}
header p{
	font-size: 18px;
	margin: 0;
	color: white;
	line-height: 1.5;

}
.container{

width: 1200px;

margin-left: auto;

margin-right: auto;
}
.box{

}
p{
	
margin: 0;
	
margin: 0;
	
font-size: 18px;
	
font-size: 16px;
	
line-height: 1.5;
}
.container{

width: 1200px;

margin-left: auto;

margin-right: auto;
}
.box{
width: 50%;

float: left;

padding: 18px 22px;
box-sizing: border-box;
}

}
p{
	
margin: 0;
	
font-size: 18px;
	
line-height: 1.5;
}.container{

width: 1200px;

margin:0 auto;

overflow: hidden;

padding: 50ox;

padding: 50px 0px;
}
.box{

width: 50%;

float: left;

padding: 18px 22px;
box-sizing: border-box;
}
p{
	
margin: 0;
	
font-size: 18px;
	
line-height: 1.5;
	
color: #333;
}
.box img{
	max-width: 100%
}
h2{

color: mediumpurple;

font-size: 20px;

font-weight: 500;
}
.link{
	
background: mediumpurple;
	
color: #fff;
	
font-size: 15px;
	
text text-decoration: n;
	
padding: 10px  30px;
	
display: inline-block;
	
border-block-end: radious;
	
border-radious: 10px;
	
margin-top: 10px;
	
text-decoration-style: none;
	
text-decoration: none;
	
border-block-end: radious;
	
border-radius: 10px;
}